In [20]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv('data_collection/trends/data/monthly_interest_over_time.csv')

In [22]:
data

,Anonymice_date,Anonymice,Anonymice NFT_date,Anonymice NFT,Vox Collectibles_date,Vox Collectibles,Vox Collectibles NFT_date,Vox Collectibles NFT,Galacticapes_date,Galacticapes,...,Winter Bears NFT_date,Winter Bears NFT,Tronwars_date,Tronwars,Tronwars NFT_date,Tronwars NFT,Nanopass_date,Nanopass,Nanopass NFT_date,Nanopass NFT
0,2020-09-20,0,2020-09-20,0,2020-08-16,0,2020-08-16,0,2020-09-27,0,...,2020-09-27,0,2021-02-07,0.0,2021-02-07,0.0,2020-12-13,3,2020-12-13,0
1,2020-09-27,0,2020-09-27,0,2020-08-23,0,2020-08-23,0,2020-10-04,0,...,2020-10-04,0,2021-02-14,0.0,2021-02-14,0.0,2020-12-20,0,2020-12-20,0
2,2020-10-04,0,2020-10-04,0,2020-08-30,10,2020-08-30,0,2020-10-11,0,...,2020-10-11,0,2021-02-21,0.0,2021-02-21,0.0,2020-12-27,0,2020-12-27,0
3,2020-10-11,0,2020-10-11,0,2020-09-06,0,2020-09-06,0,2020-10-18,0,...,2020-10-18,0,2021-02-28,0.0,2021-02-28,0.0,2021-01-03,5,2021-01-03,0
4,2020-10-18,0,2020-10-18,0,2020-09-13,0,2020-09-13,0,2020-10-25,0,...,2020-10-25,0,2021-03-07,0.0,2021-03-07,0.0,2021-01-10,0,2021-01-10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,2021-10-24,15,2021-10-24,0,2021-09-19,0,2021-09-19,0,2021-10-31,0,...,2021-10-31,7,2022-03-13,0.0,2022-03-13,0.0,2022-01-16,13,2022-01-16,9
58,2021-10-31,39,2021-10-31,17,2021-09-26,0,2021-09-26,0,2021-11-07,0,...,2021-11-07,7,NaN,NaN,NaN,NaN,2022-01-23,15,2022-01-23,3
59,2021-11-07,8,2021-11-07,0,2021-10-03,0,2021-10-03,0,2021-11-14,17,...,2021-11-14,7,NaN,NaN,NaN,NaN,2022-01-30,15,2022-01-30,0
60,2021-11-14,30,2021-11-14,33,2021-10-10,12,2021-10-10,0,2021-11-21,34,...,2021-11-21,7,NaN,NaN,NaN,NaN,2022-02-06,11,2022-02-06,6
61,2021-11-21,38,2021-11-21,16,2021-10-17,35,2021-10-17,100,2021-11-28,0,...,2021-11-28,7,NaN,NaN,NaN,NaN,2022-02-13,8,2022-02-13,6

### Separating _date columns

In [5]:
date_col_l = []
for col in data.columns:
    if '_date' in col:
        date_col_l.append(col)

In [12]:
date_df = data[date_col_l].copy()
for col_name in date_df.columns:
    data = data.drop(columns=col_name)

In [14]:
date_df.head()

,Anonymice_date,Anonymice NFT_date,Vox Collectibles_date,Vox Collectibles NFT_date,Galacticapes_date,Irenedao_date,Irenedao NFT_date,Byoland_date,Byoland NFT_date,Lonely Alien Space Club_date,...,The N Project NFT_date,Clonex_date,Clonex NFT_date,Sorare_date,Winter Bears_date,Winter Bears NFT_date,Tronwars_date,Tronwars NFT_date,Nanopass_date,Nanopass NFT_date
0,2020-09-20,2020-09-20,2020-08-16,2020-08-16,2020-09-27,2021-01-17,2021-01-17,2020-12-20,2020-12-20,2020-07-26,...,2020-09-06,2020-12-13,2020-12-13,2018-04-22,2020-09-27,2020-09-27,2021-02-07,2021-02-07,2020-12-13,2020-12-13
1,2020-09-27,2020-09-27,2020-08-23,2020-08-23,2020-10-04,2021-01-24,2021-01-24,2020-12-27,2020-12-27,2020-08-02,...,2020-09-13,2020-12-20,2020-12-20,2018-04-29,2020-10-04,2020-10-04,2021-02-14,2021-02-14,2020-12-20,2020-12-20
2,2020-10-04,2020-10-04,2020-08-30,2020-08-30,2020-10-11,2021-01-31,2021-01-31,2021-01-03,2021-01-03,2020-08-09,...,2020-09-20,2020-12-27,2020-12-27,2018-05-06,2020-10-11,2020-10-11,2021-02-21,2021-02-21,2020-12-27,2020-12-27
3,2020-10-11,2020-10-11,2020-09-06,2020-09-06,2020-10-18,2021-02-07,2021-02-07,2021-01-10,2021-01-10,2020-08-16,...,2020-09-27,2021-01-03,2021-01-03,2018-05-13,2020-10-18,2020-10-18,2021-02-28,2021-02-28,2021-01-03,2021-01-03
4,2020-10-18,2020-10-18,2020-09-13,2020-09-13,2020-10-25,2021-02-14,2021-02-14,2021-01-17,2021-01-17,2020-08-23,...,2020-10-04,2021-01-10,2021-01-10,2018-05-20,2020-10-25,2020-10-25,2021-03-07,2021-03-07,2021-01-10,2021-01-10

In [15]:
date_df.shape

(62, 431)

In [17]:
data.head()

,Anonymice,Anonymice NFT,Vox Collectibles,Vox Collectibles NFT,Galacticapes,Irenedao,Irenedao NFT,Byoland,Byoland NFT,Lonely Alien Space Club,...,The N Project NFT,Clonex,Clonex NFT,Sorare,Winter Bears,Winter Bears NFT,Tronwars,Tronwars NFT,Nanopass,Nanopass NFT
0,0,0,0,0,0,0.0,0.0,0,0,0,...,0,23,0,0,65,0,0.0,0.0,3,0
1,0,0,0,0,0,0.0,0.0,0,0,0,...,0,18,0,8,77,0,0.0,0.0,0,0
2,0,0,10,0,0,0.0,0.0,22,0,0,...,0,20,0,0,64,0,0.0,0.0,0,0
3,0,0,0,0,0,0.0,0.0,0,0,0,...,0,28,0,0,77,0,0.0,0.0,5,0
4,0,0,0,0,0,0.0,0.0,0,0,0,...,0,20,0,8,66,0,0.0,0.0,0,0

In [18]:
data.shape

(62, 431)

### merging _NFT and regular